<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: "Confirm Delete" }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>

  <body>
    <aside id="confirm-delete">
      <div class="container">
        <p>Do you Really Want to Delete?</p>
        <div class="btn-container">
          <a class="btn btn-alt" href="/posts">Cancel</a>
          <form action="/delete-post/<%=post._id%>" method="post">
            <input
              type="hidden"
              name="author_id"
              value="<%=post.author._id%>"
            />
            <button class="btn btn-delete">Delete</button>
          </form>
        </div>
      </div>
    </aside>

    <div id="backdrop"></div>

    <%- include('includes/header') %>
    <!--  -->
    <%- include('includes/post-detail', {post: post, showSecondHr: false}) %>
  </body>
</html>
