<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>

    <main>
      <h1><%= heading %></h1>

      <p><%= message %></p>
    </main>
  </body>
</html>
