<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head', {title: 'Login'}) %>
    <link rel="stylesheet" href="/public/styles/forms.css" />
    <link rel="stylesheet" href="/public/styles/auth.css" />
  </head>

  <body>
    <%- include('../includes/header') %>

    <main>
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>" />

        <section id="flash-error">
          <% if (sessionData["message"]) { %>
          <p><%=sessionData.message%></p>
          <% } %>
        </section>

        <section>
          <p>
            <label for="email">Email</label>
            <input
              value="<%=sessionData['email']%>"
              type="email"
              name="email"
              id="email"
              required
            />
          </p>
          <p>
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              required
              value="<%=sessionData['password']%>"
              minlength="6"
            />
          </p>
        </section>
        <div id="actions">
          <button type="submit" class="btn">Login</button>
          <p id="switch-form">
            <a href="/signup">Create a New Account</a>
          </p>
        </div>
      </form>
    </main>
  </body>
</html>
