<article class="post-item">
  <h2><%= post.title %></h2>
  <p class="post-item-author">By <%= post.author %></p>
  <p><strong>Summary:</strong> <%= post.summary %></p>
  <div class="post-actions">
    <form action="/delete-post/<%=post.id%>" method="GET">
      <input type="hidden" name="author_id" value="<%=post.author_id%>" />
      <button class="a">Delete Post</button>
    </form>

    <form action="/update-post/<%=post.id %>" method="GET">
      <button class="a">Edit Post</button>
      <input type="hidden" name="author_id" value="<%=post.author_id%>" />
    </form>

    <a class="btn" href="/post-details/<%= post.id %>">View Post</a>
  </div>
</article>
